@page
@model BankBarden.Pages.CustomerInfoModel
@{
}

<div class="add-top-padding">
    <div class="container body-container">

        <div class="box-border">
            <h1>Customer Id: @Model.Customer.Id</h1>
            <h2>@Model.Customer.FirstName @Model.Customer.LastName, @Model.Customer.Gender</h2>
            <h3>@Model.Customer.Country, @Model.Customer.City</h3>
            <h3>@Model.Customer.Streetaddress, @Model.Customer.Zipcode</h3>
            <h2>Total Balance: @Model.Customer.Balance Kr</h2>

            <div class="mb-3 d-flex justify-content-start">

                <a asp-route-custumarId="@Model.Customer.Id"
                    asp-page="/CustomerCRUD/EditCustomer"
                   class="btn btn-primary mx-1"
                   style="width:150px">
                    Edit Customer
                </a>


                <a asp-page="/Customers"
                   class="btn btn-secondary mx-1"
                   style="width:150px">
                    Go Back
                </a>

            </div>

        </div>

        <div class="box-border">
            <h3>Accounts</h3>
            <div class="mb-3 d-flex justify-content-start">
                <a asp-route-custumarId="@Model.Customer.Id"
                   asp-page="/AccountCRUD/CreateAccount"
                   class="btn btn-primary mx-1"
                   style="width:150px">
                    Add Accounts
                </a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Balance</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {
                        <tr>
                            <td>@account.Id</td>
                            <td>@account.Balance Kr</td>
                            <td>
                                <a asp-page="/Transactions/Deposit" asp-route-accountId="@account.Id" asp-route-customerId="@Model.Customer.Id"><i class="fa-solid fa-money-bill-trend-up"></i></a>
                            </td>
                            <td>
                                <a asp-page="/Transactions/Withdrawal" asp-route-accountId="@account.Id" asp-route-customerId="@Model.Customer.Id"><i class="fa-solid fa-coins"></i></a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>